* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #ffffff;
}

#div-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn {
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 8px 16px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    background-color: #ffffff;
    transition: 0.9s;
}

.btn:hover {
    background-color: #cccccc;
}

.margin-top {
    margin-top: 20px;
}

.margin-bottom {
    margin-bottom: 20px;
}